.div_about {
	position: relative;
	max-width:100%;
	height: auto;
	margin: 0;
	padding: 3%;
	justify-content: center;
	align-items: center;
}

/* ------------ cards ------------ */

.cards {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
	gap: 22px;
}

.card {
	width: 220px;
	min-width: 200px;
	height: auto;
	background: #242424;
	border-radius: 24px;	
	box-shadow: 5px 5px 15px rgba(0,0,0,0.7);	
	transition: 0.5s ease;
	cursor: pointer;
}

.card:hover {
	transform: scale(1.01);
	box-shadow: 8px 8px 22px rgba(0,0,0,1);
	background: rgba(64,64,64,0.3);
}

.card:active {
	transform: scale(1);
	box-shadow: 1px 1px 1px rgba(174, 0, 255, 1);
	background: rgba(174, 0, 255, 0.3);
}

.card_image {
	object-fit:cover;
    object-position: center;
    width:100%;
    height:220px;
	border-top-left-radius: 24px;
	border-top-right-radius: 24px;
	background-size: cover;
}

.card_texts {
	margin-left: 8px;
	margin-right: 8px;
	margin-bottom: 8px;
}

.building {
	margin-top: 68px;
	text-align: center;
}
